[project]
	description = sample repo
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ramkumar765
[access "refs/for/refs/*"]
	read = group user/ramkumar765
	push = group user/ramkumar765
	label-Code-Review = -2..+2 group user/ramkumar765
	label-Verified = -1..+1 group user/ramkumar765
	rebase = group user/ramkumar765
	removeReviewer = group user/ramkumar765
	submit = group user/ramkumar765
[access "refs/heads/*"]
	read = group user/ramkumar765
	create = group user/ramkumar765
	push = +force group user/ramkumar765
	pushMerge = group user/ramkumar765
[access "refs/tags/*"]
	push = group user/ramkumar765
	push = +force group user/ramkumar765
